<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Consumo_Reducido_de_Agua_ahora_si_definitivo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="C.R.A_Consumo_reducido_de_agua.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Consumo_Reducido_de_Agua_ahora_si_definitivo.Properties.Settings>
            <setting name="Grafica" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Frecuencia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Uso" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rendimiento" serializeAs="String">
                <value />
            </setting>
            <setting name="Notificaciones" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Invitados" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Idioma" serializeAs="String">
                <value />
            </setting>
            <setting name="Tamaño" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Domicilio" serializeAs="String">
                <value />
            </setting>
            <setting name="Propio" serializeAs="String">
                <value>False</value>
            </setting>
        </Consumo_Reducido_de_Agua_ahora_si_definitivo.Properties.Settings>
        <C.R.A_Consumo_reducido_de_agua.Properties.Settings>
            <setting name="Grafica" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Frecuencia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Uso" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rendimiento" serializeAs="String">
                <value />
            </setting>
            <setting name="Notificaciones" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Invitados" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Idioma" serializeAs="String">
                <value />
            </setting>
            <setting name="Tamaño" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Domicilio" serializeAs="String">
                <value />
            </setting>
        </C.R.A_Consumo_reducido_de_agua.Properties.Settings>
    </userSettings>
</configuration>